@import (reference) "../style/color/color";
@import (reference) "../Style/Image/image";
@import (reference) "../Style/Font/font";
@import (reference) "../Style/Layout/layout";

.header-container{
    overflow: auto;
    .nav-brand-wrapper{
        display: block;
        float: left;
        padding: 15px;
        .nav-brand {
            font-family: @font-logo;
            font-size: 24px;
            padding-top: 0;
            color: @color-green;
        }
    }


    .header-list-group {
        display: block;
        padding: 0;
        float: right;

        .nav-item {
            display: block;
            float: left;
            .nav-link {
                position: relative;
                display: block;
                padding: 15px;
                font-size: 18px;
                color: #aaa;

                .header-author-img {
                    .circle-image-sm;
                    margin-right: 5px;
                    vertical-align: bottom;
                }
            }
        }
    }
}