@import (reference) "../style/color/color.less";
@import (reference) "../Style/Image/image.less";
@import (reference) "../Style/Font/font.less";

.nav-brand-wrapper{
    display: inline-block;
    padding: 15px;
    .nav-brand {
        font-family: @font-logo;
        font-size: 24px;
        padding-top: 0;
        color: @color-green;
    }
}


.header-author-img {
    .circle-image-sm;
    margin-right: 5px;
}

.header-list-group {
    display: inline-block;
    padding: 0;
    float: right;

    .nav-item {
        display: inline-block;

        .nav-link {
            position: relative;
            display: inline-block;
            padding: 15px;
            font-size: 18px;
            color: #aaa;

            img{
                vertical-align: bottom;
            }
        }
    }
}