@import (reference) "../style/color/color.less";
@import (reference) "../Style/Image/image.less";

.comment-author-img {
    .circle-image-md;
}

.comment-write-box {
    display: table;
    width: 100%;
    border: 1px solid @color-light-gray;
    box-shadow: none;

    fieldset {
        margin: 0;
        border-bottom: 1px solid @color-light-gray;
    }

    textarea {
        border: none;
        outline: 0;
    }
}

.card {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid #E5E5E5;
    box-shadow: none;
    margin-top: 15px;

    .card-text{
        padding: 0.5rem 1rem;
        word-break: break-word;
    }
}

.card-footer {
    display: table;
    width: 100%;
    padding: .5rem 1rem;
    background-color: #f5f5f5;

    a {
        margin: 0;
    }
}

.comment-another-img {
    .circle-image-xsm;
}

.comment-author {
    float: left;
    font-size: .8rem;
    font-weight: 300;
    padding-left: 3px;
}

.comment-date {
    font-size: .8rem;
    font-weight: 300;
    margin-left: 5px;
    color: #bbb;
    float: left;
}

.icon-trash-wrapper {
    color: @color-gray;

    &:hover {
        cursor: pointer;
        color: @color-dark-gray;
    }
}
