@import (reference) "../Style/Color/color";
@import "../Style/Layout/layout";

.tag-list {
    list-style: none;
    display: inline-block;
}

.tag-default {
    font-size: 12.5px;
    border: 1px solid #ddd;
    border-radius: 50px;
    display: inline-block;
    padding: 2px 10px;
    word-break: break-word;
}

.tag-popular {
    .tag-default;
    background-color: @color-gray;
    color: @color-white;

    &:hover {
        background-color: @color-dark-gray;
        color: @color-white;
        text-decoration: none;
    }

    &:visited {
        color: @color-white;
    }
}

.tag-box {
    padding: 10px;
    background: #f3f3f3;
    border-radius: 4px;
}