@import (reference) "../Style/Color/color";
@import (reference) "../Style/Tag/tag";

.tag-popular {
    .tag-default;
    background-color: @color-gray;
    color: @color-white;

    &:hover {
        background-color: @color-dark-gray;
        color: @color-white;
    }

    &:visited {
        color: @color-white;
    }
}

.tag-box {
    padding: 10px;
    background: #f3f3f3;
    border-radius: 4px;

    p {
        margin-top: 0;
    }
}

.tag-popular-list {
    .tag-list;
}

.entered-tag-list{
    .tag-list;
    float: left;
    padding-top: .5rem;
}