.nav-brand {
    font-family: titillium web,sans-serif;
    font-size: 1.5rem!important;
    padding-top: 0!important;
    margin-right: 2rem!important;
    color: #5cb85c!important;
}

.nav-brand:hover {
    text-decoration: none;
}

.header-author-img{
    width: 26px;
    height: 26px;
    margin-right: 5px;
    border-radius: 50px;
}
