@import (reference) "./Widget/Style/Color/color";

* {
    box-sizing: border-box;
}

html{
    padding-bottom: 2rem;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus, &:link, &.active {
        text-decoration: none;
        color: inherit;
    }
}

dl, ol, ul {
    list-style: none;
    margin: 0;
}

.error-message {
    color: #b85c5c;
    font-weight: 700;
}

.tag-default i {
    font-size: .6rem;
    margin-right: 5px;
    cursor: pointer;
}