@import (reference) "../style/color/color.less";
@import (reference) "../Style/Image/image.less";
@import (reference) "../Style/Font/font.less";

.article-info-banner {
    color: @color-white;
    background: @color-light-black;
    text-align: left;
    padding: 2rem;
    margin-bottom: 2rem;

    h1{
        margin: 0;
        padding-bottom: 1.25rem;
    }
    a {
        color: @color-white;
    }

    .author-image {
        vertical-align: middle;
        display: block;
        .circle-image-md;
    }

    .info {
        margin: 0 1.5rem 0 .3rem;
        display: block;
        float: left;
        vertical-align: middle;
        line-height: 1rem;

        .date {
            color: #bbb;
            font-size: .8rem;
            display: block;
            margin: 0;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    a:hover {
        text-decoration: underline;
    }

    .button-edit {
        .button-article;
        border: 1px solid @color-gray;
        color: @color-gray;
        background-color: rgba(0, 0, 0, 0);
        &:hover{
            color: @color-white;
            background-color: @color-gray;
        }
    }

    .button-delete {
        .button-article;
        border: 1px solid @color-red;
        color: @color-red;
        background-color: rgba(0, 0, 0, 0);
        &:hover{
            color: @color-white;
            background-color: @color-red;
        }
    }
}

.button-article {
    margin: 0 .1rem;
    padding: .25rem .5rem;
    font-size: .75rem;
    border-radius: .3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.25;
    vertical-align: middle;

    &:hover {
        text-decoration: none;
    }
}

//.button-success {
//    .button;
//    position: relative;
//    color: @color-green;
//    background-color: @color-white;
//    border: 1px solid @color-green;
//    float: right;
//
//    &:hover {
//        color: @color-white;
//        background-color: @color-green;
//    }
//}
//
//.button-success-sm {
//    .button-success;
//    padding: .5rem .7rem;
//    font-size: .75rem;
//}
//
//.button-danger {
//    .button;
//    color: @color-red;
//    background-color: @color-white;
//    border: 1px solid @color-red;
//
//    &:hover {
//        color: @color-white;
//        background-color: @color-red;
//    }
//}