@import (reference) "../Style/Font/font.less";

.article-desc {
    .article-marked {
        overflow-x: auto;

        p {
            font-family: @font-default;
            font-size: 1.2rem;
            line-height: 1.8rem;
            margin-bottom: 2rem;
        }
    }

    ul {
        padding: 0;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }
}