.form-container {
    padding: 1rem 5rem;

    input, textarea, button {
        font-family: Arial;
        font-size: 1rem;
    }

    .form-title {
        margin-top: 0;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
    }

    .form-description {
        text-align: center;
        font-size: 14px;
        color: #5cb85c;
    }

    .sign-error-message {
        list-style: disc;
        margin-bottom: 1rem;
        color: #b85c5c;
        font-size: 14px;
        font-weight: bold;
    }
}