.circle-image-lg {
    .circle-image();
}

.circle-image-md {
    .circle-image(32px);
}

.circle-image-sm {
    .circle-image(26px);
}

.circle-image-xsm {
    .circle-image(20px);
}

.circle-image(@size: 100px){
    width: @size;
    height: @size;
    background-size: @size;
    border-radius: @size/2;
    display: block;
    float: left;
}