@import (reference) "../../../Widget/Style/Color/Color";

.comment-wrapper {
    border: 1px solid #E5E5E5;
    border-radius: .2rem;

    .comment-editor{
        width: 100%;
        border: none;
        font-size: 16px;
        padding: 0.75rem 1.25rem;
        border-radius: .2rem;
        resize: none;
    }

    .comment-editor:focus{
        outline: none;
    }

    .comment-item{
        padding: 1.5rem 1rem;
    }

    .comment-footer{
        border-top: 1px solid #E5E5E5;
        border-bottom-left-radius: .2rem;
        border-bottom-right-radius: .2rem;
        background-color: #F5F5F5;
        padding: 0.5rem 1rem;

        .comment-post-button {
            float:right;
        }

        .button-wrapper {
            float: right;
            color: @color-gray;
        }

        .button-wrapper:hover{
            cursor: pointer;
            color: @color-dark-gray;
        }
    }
}