.container {
    width: 100%;
    .px-15px;
    margin-right: auto;
    margin-left: auto;
}

.px-15px {
    padding-left: 15px;
    padding-right: 15px;
}

.col-12 {
    position: relative;
    width: 100%;
    .px-15px;
}

.col-9 {
    position: relative;
    width: 75%;
    .px-15px;
}

.col-6 {
    position: relative;
    width: 50%;
    .px-15px;
}

.col-3 {
    position: relative;
    width: 25%;
    .px-15px;
}