.container {
    vertical-align: top;
    width: 100%;
    .px-15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

.px-15px {
    .px(15px);
}

.col-12 {
    .col();
}

.col-9 {
    .col(75%);
}

.col-6 {
    .col(50%);
}

.col-3 {
    .col(25%);
}

.col(@degree: 100%){
    display: inline-block;
    position: relative;
    .px-15px;
    width: @degree;
    box-sizing: border-box;
}

.px(@degree: 0px){
    padding-left: @degree;
    padding-right: @degree;
}