@import (reference) "../style/color/color";

.list-group {
    display: inline-block;
    padding: 0;

    .nav-item {
        display: inline-block;

        &:not(.active) a {
            color: #aaa;
        }

        &.active {
            background: @color-white;
            border-bottom: 1px solid @color-green;
            color: @color-green;
            pointer-events: none;
        }

        .list-group-item {
            position: relative;
            display: inline-block;
            padding: 20px 20px;
        }
    }
}

.no-article-notion {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 16px;
}


