@import (reference) "../Style/Tag/tag";
@import (reference) "../Style/Layout/layout";

.feed-footer {
    text-align: right;

    .tag-feed-list {
        .tag-list;
        .col-6;

        .tag-feed {
            .tag-default;
            color: #aaa;
            margin-right: 2px;
        }
    }
}